/* Geral */
body {
  background-color: #000; /* Fundo preto */
  color: #fff; /* Texto branco */
  font-family: "Press Start 2P", cursive; /* Fonte pixelada */
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #1f51ff; /* Azul neon */
  padding: 20px;
}

header h1 {
  color: #ff007f; /* Rosa neon */
  font-size: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #00ff00; /* Verde neon */
  text-decoration: none;
}
nav ul li:hover {
  transform: scale(1.2); /* Aumenta levemente o ícone ao passar o mouse */
}
section {
  padding: 20px;
  margin: 20px 0;
}

.jogo {
  background-color: #222;
  border: 2px solid #00ff00;
  padding: 15px;
  margin: 15px auto;
  max-width: 400px;
}

.jogo button {
  background-color: #1f51ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}

.jogo button:hover {
  background-color: #ff007f;
}

/* Rodapé */
footer {
  background-color: #1f51ff;
  color: #000;
  padding: 10px 0;
}
